<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhcs.ssm.dao.EmployeeMapper" >
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	
	<!-- 用户提交借款申请 -->
	<insert id="addClientApply" useGeneratedKeys="true" keyProperty="applyId">
	insert into t_client_apply (`apply_name`, `apply_call`, `apply_money`, `apply_deadline`, `apply_location`, `apply_time`) values (#{applyName}, #{applyCall}, #{applyMoney}, #{applyDeadline}, #{applyLocation}, #{applyTime})
    </insert>
	
	
	
	
</mapper>