<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhcs.ssm.dao.RoleMapper">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />

	<!-- boolean delete(Integer id); -->
	<delete id="delete">
        delete a,b from t_role a left join t_auth_role b on a.role_id=b.role_id where a.role_id=#{roleId}
	</delete>
	
	<delete id="batchDelRole">
        delete a,b from t_role a left join t_auth_role b on a.role_id=b.role_id where a.role_id in
            <foreach item="id" collection="lists" open="(" separator="," close=")">
                #{id}
            </foreach>
    </delete>
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="roleId">
		insert into t_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleCode != null and roleCode !=''">
				role_code,
			</if>
			<if test="roleDesc != null and roleDesc !=''">
				role_desc,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="roleCode != null and roleCode !=''">
				#{roleCode},
			</if>
			<if test="roleDesc != null and roleDesc !=''">
				#{roleDesc},
			</if>
		</trim>
	</insert>
	
	<!-- 添加角色权限关联列表 -->
	<insert id="addRoleAuth">
		insert into t_auth_role(role_id,auth_id) values(#{roleId},#{authId})
	</insert>

	<!-- 更新角色基本信息 -->
	<update id="update" >
		update t_role 
		<set>
			<if test="roleCode != null and roleCode !=''">
				role_code = #{roleCode},
			</if>
			<if test="roleDesc != null and roleDesc !=''">
				role_desc = #{roleDesc},
			</if>
		</set>
		where role_id = #{roleId}
	</update>
	
	<!-- public boolean deleteRoleAuth(Integer id); 角色权限对应信息更新-->
	<delete id="deleteRoleAuth">
		delete from t_auth_role where role_id = #{id};
	</delete>
	
	
	<!-- 角色集合 -->
	<resultMap id="roles" type="com.qhcs.ssm.entity.Role">
		<id column="role_id" property="roleId"></id>
		<result column="role_desc" property="roleDesc"></result>
		<result column="role_code" property="roleCode"></result>
		<collection property="auths" ofType="com.qhcs.ssm.entity.Auth">
			<result column="auth_desc" property="authDesc"></result>
		</collection>
	</resultMap>

	<!-- 根据角色描述查询 -->
	<select id="queryList"  resultMap="roles">
		select r.role_id,r.role_desc,r.role_code,a.`auth_desc` from (t_role r left join t_auth_role  ra on r.role_id=ra.role_id) left join t_auth a on a.auth_id=ra.auth_id
		<where> 
		      <if test="role.roleDesc != null and role.roleDesc!=''">
		          <bind name="likedesc" value="'%' + role.roleDesc + '%'"/>
			      and r.role_desc like #{likedesc}
		      </if>
		</where>
		<if test="order !=null and order != '' ">
			order by ${order}
		</if>	
	</select>
	
	
	<!-- public List<Role> queryRoles(); -->
	<select id="queryRoles" resultType="com.qhcs.ssm.entity.Role">
		select * from t_role 
	</select>
	
	<!-- public Role selectById(Integer id); -->
	<select id="selectById" resultType="com.qhcs.ssm.entity.Role">
		select * from t_role where role_id= #{role_id}
	</select>
	<!-- 根据用户id来查询角色 -->
	<select id="getListByUserId" resultType="com.qhcs.ssm.entity.Role">
		select a.* from t_role a,t_employee_role b where a.role_id=b.role_id and b.employee_id= #{employeeId}
	</select>
	
	<!-- public List<Role> getListByUserIdFromGroup(Integer id);根据用户id从分组中获得角色 -->
	<select id="getListByUserIdFromGroup" resultType="com.qhcs.ssm.entity.Role">
		select r.* from t_role r,t_employee e,t_group_employee ge,t_group_role gr
		where e.`employee_id` = ge.`employee_id` and ge.`group_id` = gr.`group_id` and gr.`role_id` = r.`role_id`
		and e.`employee_id` = #{id}
	</select>
	
	
</mapper>