<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhcs.ssm.dao.UserMapper" >
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	<!-- 
		public User queryUserById(Integer id);根据ID查找用户信息
	 -->
	 
	 <select id="queryUserById" resultType="com.qhcs.ssm.entity.User">
	 	select * from sys_user where id=#{id}
	 </select>
	
	<!-- queryUserByName 根据用户名查找用户信息-->

     <select id="queryUserByName" resultType="com.qhcs.ssm.entity.User">
        select * from t_user where user_name=#{userName}
     </select>
     <!-- queryUserByName 根据手机号查找用户信息-->

     <select id="queryUserByPhone" resultType="com.qhcs.ssm.entity.User">
        select * from t_user where user_phone=#{userPhone}
     </select>
     
     <!-- public boolean addNomalUser(User user) 添加用户-->
     
     <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_user (user_name,user_referrer,user_password,user_phone) values (#{userName},#{userReferrer},#{userPassword},#{userPhone})
     </insert>
     	

</mapper>