<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhcs.ssm.dao.UserMapper" >
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	<!-- 
		public User queryUserById(Integer id);
	 -->
	 
	 <select id="queryUserById" resultType="com.qhcs.ssm.entity.User">
	 	select * from sys_user where id=#{id}
	 </select>
	
	<!-- queryUserByName -->

     <select id="queryUserByName" resultType="com.qhcs.ssm.entity.User">
        select * from sys_user where name=#{name}
     </select>
     
     <!-- public boolean addNomalUser(User user) -->
     
     <insert id="addNomalUser" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user (name,password) values (#{name},#{password})
     </insert>
     	
     	
    <!-- public boolean addNomalUserRole(Long id); -->
    
    <insert id="addNomalUserRole">
        insert into sys_user_role (uid,rid) values (#{id},2)
     </insert>
   <!--  public boolean addAdminRole(Integer uid, Integer rid); -->
   
		<insert id="addAdminRole">
		        insert into sys_user_role (uid,rid) values(#{uid},#{rid})
		</insert>
	<!-- 
		public List<User> queryList(User user);
	 -->
	 
	 <select id="queryList" resultType="com.qhcs.ssm.entity.User">
	 	select * from sys_user 
		<where>
			<if test="name!=null and name!=''">
				 <bind name="likename" value="'%'+name+'%'"/>
				  and name like #{likename}
			</if>
		</where>	 	
	 </select>
	 
	 <delete id="del">
	 	delete from sys_user where id=#{id}
	 </delete>

	 <delete id="delUserRole" >
	 	delete from sys_user_role a where uid=#{id}
	 
	 </delete>
	 
	 <!--  public boolean queryRole(); -->
	 <select id="queryRole" resultType="com.qhcs.ssm.entity.Role">
	 	select * from sys_role
	 </select>
	 
	
</mapper>